<html>
<body style="background-image: url('/static/cook-366875_1920.jpg');hieght:100%;background-size:100% 100%;background-repeat: no-repeat; color:white">
<div align='right'>
<form action="/">
    <button class="float-left submit-button" >Home</button>
</form>
</div>
<div align="center" style="padding-top:100">
    <form method='post' action='adminlogin'>
        <p><b><h3>ADMIN NAME:</b>
        <input type='text' name='aname' placeholder='enter admin name'/></h3></p></br>
	<p><b><h3>PASSWORD:</b>
	<input type='password' name='passw' placeholder='enter password'/></h3></p></br></br>
	<input type='submit' value='LOGIN'>

    </form>
</div>
</body>
</html>
