<html>
<body style="background-image: url('/static/cook-366875_1920.jpg');hieght:100%;background-size:100% 100%;background-repeat: no-repeat;">
<div align="center" style="padding-top:20" >
<h1 style="color:yellow">WELCOME TO RESTAURANT BOOKING</h1>
</div>
<div align="center" style="width:100%;padding-top:50;">
    <form method='post'>
        
        <u><a href ="/adminlogin"><h1 style="color:white"> ADMIN LOGIN</h1></u></br>
        <u><a href ="/userlogin"><h1 style="color:white" > USER LOGIN</h1></u>
    </form>   
</div>
</body>
</html>
