<html>
<head>
<style>
body
{
    hieght:100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-image: url('/static/cook-366875_1920.jpg');
  
}
.header
{
    margin-top:100px;
    margin-left:300px;
    color:white;
    
}

</style>
</head>
<body>
<div align='right'>
        <form action="/">
        <button class="float-left submit-button" >Home</button>
        </form>
        </div>
<form method="post" action='/serching'>       
<div class='header'>
	<p> <h1>SEARCH HERE FOR AN RESTUARANT</h1></p></br>
        <input type='text' name='search1' size='70' placeholder='enter the restaurant name'/>
        <input type="submit" value='search'/>
</div>
</form>
    

</body>
</html>
