<html>
<head>
<style>
body
{
    hieght:100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-image: url('/static/cook-366875_1920.jpg');
  
}
.header
{
    color:white;
    text-align:center;
    
}

</style>
</head>
<body>
<div align='right'>
        <form action="/">
        <button class="float-left submit-button" >Home</button>
        </form>
        </div>
<form method="post" action=''>       
<div class='header'>
	<p> <h1> RESTUARANT IS NOT AVAILABLE</h1></p></br>
        <a href='/serching'>click here</a>to go back
</div>
</form>
    

</body>
</html>
