<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: times New roman;
     display:block
  align:center;
}


</style>
</head>
<body>
<div class="split">
  <div class="centered">
    <form method='post'>
	<u><h1><p>REGISTRATION FORM</p></h1></u>
	<b>USER NAME:<input type='text' name='username' placeholder='enter user name' required/></br></br>
	<b>FATHER NAME:<input type='text' name='username' placeholder='enter user name' required/></br></br>
	MOBILE NUMBER:<input type='text' name='mbln' placeholder='enter 10 digit ' maxlength='10'  reqiered/></br></br>
	<b>INSTITUTE NAME NAME:<input type='text' name='username' placeholder='enter user name' required/></br></br>
	EMAIL ID:<input type='email' name='email' placeholder='enter email id' /></br></br>
	<input type='submit' value='SUBMIT'/>
    </from></br>
    
  </div>

</div>
</body>
</html>
